<div class="flex-col children-center grow">
  <fieldset class="flex-col space-30">
    <legend>Busca</legend>
      <div class="flex-col">
        <br>
        <small>CEP</small>
        <input type="text" placeholder="CEP">
      </div>

      <button class="button primary">Buscar Endereço</button>
    </fieldset> 
  <br>
    <fieldset class="flex-col space-30 ">
      <legend>Resultado</legend>
        <div class="flex-col">
          <br>
          <small>Estado</small>
          <input type="text" placeholder="Estado">
        </div>

        <div class="flex-col">
          <br>
          <small>Cidade</small>
          <input type="text" placeholder="Cidade">
        </div>

        <div class="flex-col">
          <br>
          <small>Bairro</small>
          <input type="text" placeholder="Bairro">
        </div>

        <div class="flex-col">
          <br>
          <small>Rua</small>
          <input type="text" placeholder="Rua">
        </div>
          
      </fieldset> 
</div>

